@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
	overflow-x: hidden;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	color: #fff;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

body h1 {
	text-align: center;
	font-size: 3em;
	color: #f85b10;
	margin-top: 20px;
}

section {
	padding; 20px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
}

#slider {
	width: 50%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-container {
	position: relative;
	width: 100%;
	height: 90%;
	overflow: hidden;
	border-radius: 8px;
	border: 2px solid black;
}

.slides {
	display: flex;
	height: 100%;
	transition: transform 0.5s ease-in-out;
}

.slide {
	min-width: 100%;
	height: 100%;
}

.slide img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.navigation {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
}

.nav-button {
	background-color: green;
	color: white;
	font-size: 16px;
	cursor: pointer;
	padding: 10px;
	border: none;
	border-radius: 50%;
	transition: background-color 0.3s;
}

.nav-button:hover {
	background-color: #f85b10;
	color: white;
}


#details {
	width: 50%;
	padding: 0 20px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#details h2 {
	 color: #f85b10;
 }

 form {
	 width: 100%;
	 box-sizing: border-box;
	 margin: 15px;
 }

 form div {
	 margin: 15px 0;
 }

 form label {
	 font-size: 28px;
	 margin-bottom: 6px;
	 color: #f85b10;
 }

 select {
	 padding: 5px;
	 width: 50%;
 }

 input[type='submit'] {
	 width: 60%;
	 padding: 10px 0;
	 background-color: #f85b10;
	 color: white;
	 font-weight: bold;
	 border: none;
	 border-radius: 10px;
 }

 input[type='submit']:hover {
	 color: #f85b10;
	 background-color: white;
 }
