<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/orders.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/admin_nav.css') }}">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>Orders</title>
	</head>
	<body>
		<nav>
			<div id='logo'>
				<img src='/static/images/logo.png' alt='company logo'>
			</div>

			<ul>
				<li><a href="{{ url_for('dash.admin_dashboard') }}">Home</a></li>
				<li><a href="{{ url_for('post.upload') }}">Post</a></li>
				<li><a href="{{ url_for('post.uploads') }}">Posts</a></li>
				<li><a href="{{ url_for('order.admin_orders_view') }}">Orders</a></li>
			</ul>

			<div id='search'>
				<a href="{{ url_for('find.admin_search_template') }}" id='find'><i class='bx bx-search'></i></a>
				<a href="{{ url_for('profile.admin_profile') }}" id='profile'><img src='/static/images/account.png' alt='profile'></a>
			</div>
		</nav>

		<section>
			{% if not orders %}
				<h3> No available orders.</h3>
			{% else %}
			<table border='1'>
				<thead>
					<th>Id</th>
					<th>Name</th>
					<th>Phone number</th>
					<th>Total</th>
					<th>Status</th>
					<th>Shipping address</th>
					<th>Items</th>
					<th>Update</th>
				</thead>

				<tbody id="orders-table">
					
					{% for order in orders %}

        				<tr>
						<td>{{ order.id}}</td>
						<td>{{ order.user.first_name }}</td>
						<td>{{ order.user.phone_number }}</td>
						<td>{{ order.total_amount | round(2) }}</td>
						<td>{{ order.status | capitalize }}</td>
						<td>{{ order.shipping_address | title }}</td>
						<td>
							<button class='toggle-table'>Show Items</button>
						</td>

						<td>
                                                        <a href="{{ url_for('edit.update_order_status', order_id=order.id) }}">Update</a>
						</td>
					</tr>

					<tr class="items-row">
						<td colspan="8">
							<table class="items-table">
								<thead>
									<tr>
										<th>Item Name</th>
										<th>Quantity</th>
										<th>Price</th>
										<th>Size</th>
									</tr>
								</thead>
								<tbody>
									{% if order.ordered_items %}
									{% for item in order.ordered_items %}
									<tr>
										<td>{{ item.ordered_item.name }}</td>
										<td>{{ item.quantity }}</td>
										<td>{{ item.ordered_item.price }}</td>
										<td>{{ item.size }}</td>
									</tr>
									{% endfor %}
									{% endif %}
								</tbody>
							</table>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
		{% endif %}
		<script src='/static/js/orders.js'></script>
	</body>
</html>
