<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/checkout.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/admin_nav.css') }}">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>Checkout</title>
	</head>
	<body>
		<nav>
			<div id='logo'>
				<img src='/static/images/logo.png' alt='company logo'>
			</div>

			<ul>
				<li><a href="{{ url_for('dash.guest_dashboard') }}">Home</a></li>
				<li><a href="{{ url_for('post.men') }}">Men</a></li>
				<li><a href="{{ url_for('post.women') }}">Women</a></li>
				<li><a href="{{ url_for('post.unisex') }}">Unisex</a></li>
				<li><a href="{{ url_for('order.view_orders') }}">Orders</a></li>
			</ul>

			<div id='search'>
				<a href="{{ url_for('find.member_search_template') }}" id='find'><i class='bx bx-search'></i></a>
				<a href="{{ url_for('cart_bp.view_cart') }}" id='cart'><img src='/static/images/cart.png' alt='profile'>
				<a href="{{ url_for('profile.guest_profile') }}" id='profile'><img src='/static/images/account.png' alt='profile'></a>
			</div>
		</nav>
		<section>
			<div id='container'>
				<form id='address'>
					{{ form.hidden_tag() }}
					<div>
						{{ form.shipping_address.label }}<br>
						{{ form.shipping_address(size=32) }}
						<p class='error' id='shipping_address-error'></p>
					</div>
					<div>
						{{ form.phone_number.label }}<br>
						{{ form.phone_number(size=15, value=cart.user.phone_number) }}
						<p class='error' id='phone_number-error'></p>
					</div>
					
					<div class='total'>
						<div>
							<h3>Subtotal:<span>ksh {{ subtotal }}</span></h3>
							<h4>Shipping:<span>ksh 150</span></h4>
							<h4>TOTAL:<span>ksh {{ total }}</span></h4>
						</div>
					</div>

					<div id='button'>
						{{ form.submit() }}
					</div>
				</form>
			</div>

			<div id='sneakers'>
				{% if not cart or not cart.items %}
					<h2 style="padding: 110px;">No items</h2>
				{% else %}
					{% for product in cart.items %}
						<div class='item'>
							<div class='image'>
								{% if product.item.images %}
								<img src="{{ url_for('post.send_image', filename=product.item.images[0].filename) }}" alt="product">
								{% else %}
								<img src="{{ url_for('post.send_image', filename='default.jpeg') }}" alt="product">
								{% endif %}
							</div>

							<div class='size'>
								<h5>{{ product.item.name }}</h5>
								<p>{{ product.size }} <span class='price'>ksh {{ product.subtotal }}</span></p>
							</div>

							<div class='quantity'>
								<h4>{{ product.quantity }}</h2>
							</div>
						</div>
					{% endfor %}
				{% endif %}

			</div>

		</section>

	</body>
</html>
