<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/collections.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/guest_nav.css') }}">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>Collections</title>
	</head>
	<body>
		<nav>
			<div id='logo'>
				<img src='/static/images/logo.png' alt='company logo'>
			</div>

			<ul>
				<li><a href="{{ url_for('dash.index') }}">Home</a></li>
				<li><a href="{{ url_for('post.collections') }}">Collections</a></li>
				<li><a href="{{ url_for('auth.login') }}">Login</a></li>
				<li><a href="{{ url_for('auth.register') }}">Join us</a></li>
			</ul>

			<div id='search'>
				<a href="{{ url_for('find.guest_search_template') }}"><i class='bx bx-search'></i></a>
			</div>
		</nav>

		<section>
			<h1>Sneaker collections</h1>

			<div id='container'>

				{% if sneakers.items %}
					{% for sneaker in sneakers.items %}
					<div class='item' data-sneakerId="{{ sneaker.id }}" >
							<a href="{{ url_for('post.guest_product_details', product_id=sneaker.id) }}">
								<div class='image'>
									{% if sneaker.images %}
									<img src="{{ url_for('post.send_image', filename=sneaker.images[0].filename) }}">
									{% else %}
									 <img src="{{ url_for('post.send_image', filename='default.jpeg') }}">

									 {% endif %}
								</div>
							</a>

							<div class='details'>
								<h3>{{ sneaker.name | title }}</h3>
								<h5>ksh. {{ sneaker.price }}</h5>
							</div>
					</div>
					{% endfor %}

				{% else %}
					<h2 class='not-available'>No sneakers to display</h2>
				{% endif %}


				<div class='controls'>

					{% if sneakers.has_prev %}
						<a href="{{ url_for('post.collections', page=sneakers.prev_num) }}">
							<button>
								<img src='/static/images/previous.png' alt='previous'>
							</button>
						</a>
					{% else %}
	    					<button disabled>
							<img src='/static/images/previous.png' alt='previous'>
						</button>
					{% endif %}

					{% if sneakers.has_next %}
						<a href="{{ url_for('post.collections', page=sneakers.next_num) }}">
							<button>
								<img src='/static/images/next.png' alt='next'>
							</button>
						</a>
					{% else %}
						<button disabled>
							<img src='/static/images/next.png' alt='next'>
						</button>
					{% endif %}
				</div>
			</div>

		</section>

	</body>
</html>
