<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/password.css') }}">
		<title>Reset password</title>
	</head>

	<body>
		<div id='container' data-userId='{{ user_id }}'>
			<div class='alert'>
				<p></p>
			</div>

			<form id='reset'>
				{{ form.hidden_tag() }}

				<div>
					{{ form.password.label }}<br>
					{{ form.password(size=32) }}
					<p class='error' id='password-error'></p>
				</div>

				<div>
                                        {{ form.confirmpassword.label }}<br>
                                        {{ form.confirmpassword(size=32) }}
                                        <p class='error' id='confirmpassword-error'></p>
                                </div>

				<div>
					{{ form.showpassword.label }} {{ form.showpassword(id='show') }}
				</div>

				<div id='button'>
					{{ form.submit() }}
				</div>
			</form>
		</div>
		<script src="{{ url_for('static', filename='js/password.js') }}"></script>
	</body>
</html>
